/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
.footer {
  background-color: #d1d1d1;
  color: black;
  padding: 15px;
}

.listitem{
  background-color: #e1e1e1;
  padding: 5px;
  color: #000000;
}

.buttonlist{
    list-style-type: none;
}

.defaultbutton {
  cursor: pointer;
  border-radius: 10px;
  background-color: #f1f1f1;
  border: none;
  color: #000000;
  text-align: left;
  font-size: 16px;
  padding: 15px;
  width: 30%;
  transition: all 0.5s;
  margin: 5px;
}

.defaultbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.defaultbutton span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.5s;
}

.defaultbutton:hover span {
  padding-right: 10px;
}



/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
