
/*.color {
  --primary: #8AA399;
  --secondary: #7D003C;
  --success: #28a745;
  --info: #ccc;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f3f3f3;
  --dark: #151515;
 }
*/
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.well{
  background-color: white;
  border-radius: 2px;
  border-color: lightgrey;
  border-width: thin;
}


.header{
  font-size: 20px;
  font-weight: lighter;
  cursor: default;
  color: white;
  padding: 10px;
  letter-spacing: 1px;
}


.video-container{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 10px;
  height:500px;
  overflow: hidden;
}

.flowplayer{
  height: inherit;
}



.listitem{
  background-color: #e1e1e1;
  padding-top: : 5px;
  padding-bottom: : 5px;
  color: #000000;
}

.buttonlist{
    list-style-type: none;

}

.defaultbutton {
  cursor: pointer;
  border-radius: 10px;
  background-color: #f1f1f1;
  border: none;
  color: #000000;
  text-align: left;
  font-size: 16px;
  padding: 10px;
  width: 30%;
  transition: all 0.5s;
  margin: 5px;
  overflow: hidden;

}

.defaultbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.defaultbutton span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.5s;
}

.defaultbutton:hover span {
  padding-right: 10px;
}


.secondarybutton {
  cursor: pointer;
  border-radius: 10px;
  background-color: #f1f1f1;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 30%;
  overflow: hidden;

}

.button3{
  font-size: 16px;
  padding:8px;
  color: black;
  cursor: pointer;
}

.btnBackTestmanager{
  font-size: 16px;
  padding:8px;
  color: black;
  cursor: pointer;
}



.textinput{
  padding: 18px;
  font-size: 16px;
  margin-left: 15px;
}

.chatmessage{
  padding:10px;
  background-color: lightgrey;
  border-radius: 4px;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
